# Dependencies
node_modules/

# Environment Variables (Keep secrets out of git!)
.env

# Vercel deployment folder
.vercel/
.vercel

# Uploaded Files
uploads/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS Files
.DS_Store
